
*{
	margin: 0;
	padding: 0;
}

body{
	background: #f4f5f6;
	font-family: Akkurat,Helvetica Neue,Helvetica,Arial,sans-serif;
}

@media screen and (max-width: 80px){}
	.wrap {
    	padding: 0 1.25em;
	}
}
.container{
	overflow: hidden;
}


/*CABECERA*/

header{
    background: #000;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 200;
    opacity: .9999999;
    border-bottom: 4px solid #faa61a;
}

header h1{
	text-align: center;
}

header h1 a{
	text-decoration: none;
    font-family: "Forvertz";
    color: #faa61a;
    line-height: 100px;
    font-size: 30px;
    font-style: normal;
}

header h1 a:hover{
    text-decoration: none;
    color: #faa61a;
}

/*POLÃTICA DE PRIVACIDAD*/    
/*TERMINOS & CONDICIONES*/

section {
	padding-top: 100px;
	display: block;
    position: relative;
    z-index: 10;
    padding: 55px 0;
    background-size: cover;
    background-position: 50%;
    background-color: #f4f5f6;
}

.terms, .privacy{
	max-width: 53.125rem;
	width: 100%;
	margin: 0 auto;
    margin-top: 150px;	
}


/*H2*/

.terms h2, .privacy h2{
    font-size: 13pt;
    font-style: normal;
    margin-top: 150px;
    margin-bottom: 30px;
    line-height: 25px;
    color: #11171a;
}


/*H3*/

.terms h3, .privacy h3, .jobs h3{
    font-size: 11pt;
    font-style: normal;
    margin: 50px 0 14px;
    color: #171f24;	
	line-height: 25px;
}
.terms ol{
    padding: 0 0 23px 0;
    font-size: 14px;
    line-height: 26px;
    list-style-position: inside;
    list-style-type: decimal;
}

/*Lineas*/

.terms p, .privacy p, .jobs p{
	line-height: 1.8;
    font-weight: 400;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    color: #11171a;
}

/*FOOTER*/


footer{
	border-top: 4px solid #faa61a;
	clear: both;
	background: #11171a;
}

footer h2{
	width:135px;
	margin-top: 50px;
	margin-left: 70px;
	font-family: "Forvertz";
	border-bottom: 2.5px solid #fa9802; 
	border-bottom-left-radius: 10px 12px; 
}

footer > a{
    text-decoration: none;
    color: #faa61a;
    font-family: "Forvertz";
}

/*Primer div*/

.footer_primero {
	width: 63%;
   	margin-left: 17%;
   	margin-top: 40px;
   	margin-bottom: 30px;
   	font-size: 11px;
   	height: 150px;
	display: table;	
}


.footer_primero ul {
	list-style: none;
}

.footer_primero h3{
	margin-bottom: 10px;
	color: #fff;
	font-weight: 700;
    text-transform: uppercase;
    font-size: .75rem;
}

.footer_columna1, .footer_columna2, .footer_columna3, .footer_columna4{
	display: table-cell;
	padding-left: 10%; /*Cambiar el padding con @media para responsive*/
}

.footer_columna1 ul li a, .footer_columna2 ul li a, .footer_columna3 ul li a, .footer_columna4 ul li a{
	line-height: 22px;
	display: block;
	position: relative;
	color: #939393;
	text-decoration: none;
} 


/*Separador footers*/

footer hr {
	text-align: center;
	margin-left: 5%;
    width: 90%;
    height: 1px;
    opacity: .1;
    margin-top: 50px;
    margin-bottom: 20px;
}


/*Segundo div*/

.footer_segundo{
	width: 50%;
   	margin-left: 23%;
   	margin-top: 70px;
   	font-size: 11px;
   	height: 100px;
   	text-transform: uppercase;
}

.columna_izq{
	width: 50%;
	float: left;
}

.columna_izq p{
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    font-size: .75rem;    
    opacity: .5;
}

.columna_der{
	text-align: right;
	line-height: 25px;
}

.ul_columna_der{
	list-style: none;
    padding-left: 0;
}

.ul_columna_der a{
	text-decoration: none;
	color: #fff;
    font-size: .75rem;
    opacity: .5;
}

/*FIN FOOTER*/